$block: 'alert';

.#{$block} {
  margin: 20px 0;
  position: relative;
  font-size: 16px;
  text-align: center;
  display: none;
  padding: 18px;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
  transition: all 0.3s ease;
  background-color: rgba($warning, 0.9);
  box-shadow: 0 0.125rem 0.25rem rgba($black, 0.075);
  display: flex;
  letter-spacing: 0.5px;

  p {
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: rgba($black, 0.7);
  }

  &__container {
    z-index: 10000;
    position: fixed;
    left: 30px;
    bottom: 30px;
    max-width: 380px;
  }

  &--success {
    background: rgba($success, 0.9);
  }
}
