@import './buttons';
@import './forms';
@import 'title';
@import 'notification';
@import 'subtitle';
@import 'header';
@import 'form-valid';
@import 'back';
@import 'register';
@import 'spinner';
@import 'reset-user';
@import 'onBoarding';
@import 'nav';
@import 'last-pokemons';
