$block: 'form';

.#{$block} {
  &__container {
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    margin-bottom: 10px;
  }

  &__field {
    margin: 8px 0;
  }

  &__field > .field,
  &__field .ui.input { width: 100%; }

  &__field .ui.input input,
  &__control {
    background: $gray-light !important;
    min-height: 55px !important;
    width: 100% !important;
    border: solid 1px #e6ecf0 !important;
    padding: 18px !important;
    border-radius: 6px !important;
    outline: none !important;
    transition: all 0.3s ease !important;
   

    &,
    & .text {
      color: $default-text-color !important;
      font-weight: bold !important;
      font-size: 16px !important;
    }

    & .default,
    &::placeholder {
      color: rgba($default-text-color, 0.5) !important;
    }

    &:hover {
      border-color: $primary-color !important;
    }

    &:focus {
      background: $white !important;
      border-color: $primary-color !important;
      box-shadow: 0 0 0 3px rgba($primary-color, 0.3) !important;
    }

    @include mobile() {
      min-height: 35px !important;
      padding: 16px !important;
    }
  }

  &__label {
    font-family: $primary-font-family;
    font-weight: bold;
    color: $blue-dark;
    text-decoration: none;
    margin-top: 20px;
    display: block;
  }

  &__content {
    margin-top: 16px;
    font-size: 18px;

    a {
      font-size: 16px;
      color: $primary-color;
      font-weight: bold;
      display: block;
      margin-top: 8px;
      text-decoration: none;
    }

    @include mobile() {
      margin-bottom: 16px;
    }
  }
}

.dropdown {
  & .icon {
    top: 18px !important;
  }
  
  & .menu {
    border-color: $primary-color !important;
    box-shadow: 0 0 0 3px rgba($primary-color, 0.3) !important;
  }
}