$block: 'nav';

.#{$block} {

  display: flex;
  flex-direction: column;
  padding: 24px;
  overflow: auto;
  max-height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  margin: auto;

  @include mobile() {
    padding: 16px;
    padding-top: 24px;
    padding-bottom: 80px;
    padding-right: 24px;
  }

  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__container {
    position: relative;
    background: $white;
    border-right: solid 1px $gray-light;
    height: 100%;
    min-height: 100vh;
    z-index: 1;
    
    @include mobile() {
      position: fixed;
      width: 100%;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &__wrapper {
    position: sticky;
    top: 0;
    overflow: hidden;
  }

  &__button {
    margin-top: 32px;
    padding: 24px 16px;
    font-size: 18px;
    box-shadow: rgba($black, 0.08) 0px 8px 28px;
    background-image: url('../../assets/images/open-pokeball.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95px;
    background-position: 107%;
    min-height: 68px;

    @include mobile() {
      position: fixed;
      width: 100%;
      left: 0;
      bottom: 0;
      border-radius: 0;
      margin-top: 0;
    }
  }

  &__item {
    background-image: url('../../assets/images/open-pokeball.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    border-radius: 100px;
    padding: 18px 24px 18px 70px;
    display: inline-block;
    background-color: $white;
    margin: 6px 0;
    font-family: $primary-font-family;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none !important;
    color: $default-text-color;
    transition: all 0.2s ease-in-out !important;

    &:hover {
      background-color: rgba($secound-color, 0.10);
      color: $secound-color;
    }

    &--active {
      color: $secound-color;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    // width: 95%;
    position: relative;
    flex-wrap: nowrap;
    padding-left: 1px;

    &__content {
      flex-grow: 1;
      overflow: hidden;
      word-break: break-word;
    }

    &__picture {
      $size: 55px;
      background-position: center;
      width: $size;
      height: $size;
      min-width: $size;
      min-height: $size;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: $gray-light;
      border-radius: 100%;
      border: solid 4px $white;
      box-shadow: 0 0 0 4px $gray-light;
      margin-right: 16px;
    }

    &__name {
      padding: 0;
      margin: 0;
      font-size: 20px;
    }

    &__username {
      color: $primary-color;
      font-weight: bold;
      font-size: 14px;
      font-family: $primary-font-family;
      padding: 0;
      margin: 0;
    }
  }
}