$block: 'notification';

.#{$block} {
  margin: 20px 0;
  position: relative;
  font-size: 16px;
  text-align: center;
  display: none;
  padding: 24px;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
  transition: all 0.3s ease;
  background-color: $white;
  background-image: linear-gradient(rgba($secound-color, 0.010), rgba($secound-color, 0.010));
  box-shadow: 0 0.125rem 0.25rem rgba($black, 0.075);
  display: flex;
  letter-spacing: 0.5px;
  border: solid 3px $secound-color;

  p {
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: $secound-color;
  }

  &__container {
    z-index: 10000;
    position: fixed;
    left: 30px;
    bottom: 30px;
    max-width: 380px;
  }

  &--success {
    background-image: linear-gradient(rgba($success, 0.010), rgba($success, 0.010));
    border-color: $success;

    p {
      color: $success;
    }
  }
}
