$block: 'loading';

.#{$block} {

  display: inline-block;
  width: 64px;
  height: 64px;

  &::after {
    content: ' ';
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid $white;
    border-color: $primary-color transparent $secound-color transparent;
    animation: loading 1.2s linear infinite;
  }


  &__wrapper {
    position: absolute;
    z-index: 1;
    background: rgba($white, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
}

@keyframes loading{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}