@import url('https://fonts.googleapis.com/css?family=Lato|Poppins:400,900&display=swap');

* {
  font-family: $secondary-font-family;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $primary-font-family;
  font-weight: 900;
}
